
*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html{
    font-size: 10px;
}
body{
    margin: 0;
}
header{
    width: 100%;
    height: 12rem;
    background: rgb(55, 230, 200);
    display: flex;
    justify-content: space-around;
}
.title,
.logo,
.search{
    margin: 0;
    padding: 0;
    width: 25%;
    height: auto;
    background: papayawhip;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    background-size: cover;
    height:90%;
    width: auto;
}
.form-group{
    width: 60%;
    background: chocolate;
    display: flex;
    flex-wrap: wrap;
}
main{
    background: fuchsia;
}
section{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 1fr;
    background: cyan;
    min-height: 41rem;
}
.filter{
    background: darkcyan;
    margin: 1rem;
}
.filter h2,
.listFav h2,
.resul h2{
    background: rgb(252, 0, 0);
    text-align: center;
    margin: 0;
    width: auto;
    max-height: 10%;
}
.listFav{
    grid-column: 2/3;
    grid-row: 1/2;
    background:rgb(43, 42, 128);
    margin: 1rem;
    max-width: 100%;
    max-height: 100%;
}

.listFav__container{
    
    background:rgb(102, 101, 170);
    height: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem 1rem;
    
}
.listFav__container div{
    background: pink;
}
/* .listFav__contenido{
    height: auto;
}
.listFav__contenido img{
    height: 50%;
    width: 50%;
} */
.resul{
    background: hotpink;
    margin: 1rem;
}
footer{
    width: 100%;
    height: 10rem;
    background: coral;
}
footer h4{
    margin: 0;
}

